.git
.github
.idea
.cursor
.junie
.nova
.vscode
.zed
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail/*
.env
.env.*
!.env.example
bootstrap/cache/*
database/database.sqlite
public/hot
public/build
*.md
!README.md
Backend_Assignment_-_Foleon.pdf
